{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>WELCOME G33K5</h1>
            <p>Welcome to sudo Blogs! Here we'll be talking about everything related to our favourite <code>linux</code>.
                Here, we are going to cover up all the major problems that new beginner faces while playing with his linux machine...
                so, stay tunned and show some love.
                </p>
            <p>You can directly visit my personal website <a href="http://prashantshukla.codes/">prashantshukla.codes</a>.</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to Posts
                    &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}
