{% extends 'base.html' %}

{% block head %}
<title>Posts</title>
{% endblock %}

{% block body %}

   
<br>
<a class="btn btn-success float-right" href = '/posts/new'>Add Blog </a>
<h1> All Posts </h1>  
<hr><br><br>
    {% for post in posts%}
        <h2>{{ post.title }}</h2>
        {% if post.author %}
            <small>Written By: {{ post.author }} on {{post.date_posted}}</small>
        {% else %}
             <small>Written By: N/A on {{post.date_posted}}</small>
        {% endif%}
        <br><br>        
        <p style = "white-space:pre-wrap">{{ post.content }} </p>
        <a class = "btn btn-danger" href = '/posts/delete/{{post.id}}'>Delete</a>
        <a class = "btn btn-primary" href = '/posts/edit/{{post.id}}'>Edit</a>
        <hr>
        <br>
    {%endfor%}

{% endblock %}        
