{% extends 'base.html' %}

{% block head %}
<title>Posts</title>
{% endblock %}

{% block body %}

    <h2>Create new BlogPost</h2>
    <form action = '/posts' method = 'POST'>
        <label for="title">Title:</label>
        <input class="form-control" type="text" name = 'title' id = 'title' placeholder="Enter title" aria-label="Enter title">
        <br>
        <label for="author">Author:</label>
        <input class="form-control" type="text" name = 'author' id = 'author' placeholder="Enter author name" aria-label="Enter author name">
        <br>
        <label for="content">Post:</label>
        <textarea class="form-control" name = 'content' id="content" rows="5" placeholder="Enter Content here !!!" ></textarea>
        <br>
       
        <input type = 'submit'value = 'POST' >
    </form>
<hr>
<hr>

<h1> All Posts </h1>   
<br><br>
    {% for post in posts%}
        <h2>{{ post.title }}</h2>
        {% if post.author %}
            <small>Written By: {{ post.author }} on {{post.date_posted}}</small>
        {% else %}
             <small>Written By: N/A on {{post.date_posted}}</small>
        {% endif%}
        <br><br>        
        <p style = "white-space:pre-wrap">{{ post.content }} </p>
        <a class = "btn btn-danger" href = '/posts/delete/{{post.id}}'>Delete</a>
        <a class = "btn btn-primary" href = '/posts/edit/{{post.id}}'>Edit</a>
        <hr>
        <br>
    {%endfor%}

{% endblock %}        
